.card:hover {
    background-color: rgb(75, 75, 75);
    color:white;
}

.blinking-cursur:after {
    content: '|';
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}


.full-vh {
    height: 100vh;
}

.center-inline {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* offset */
.flex-offset {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.offset {
    position: relative;
    top: 200px;
}

.center-vertical {
    display: flex;
    justify-content: center;
}
.center-horizontal {
    display: flex;
    align-items: center;
}

.rounded-circle {
    border-radius: 50%;
}

.color-main {
    color: #E36B4C;
}
.color-main:hover {
    color: #000
}
.color-secondary-background {
    background-color: #F7F7F7;
}
.down-chevron {
    position: relative;
    top: -100px;
    animation: bounce 1s ease infinite;
}
.arrow {
    position: relative;
    top: -120px;
}


.text-center {
    text-align: center;
}

.card {
    width: 200px;
    box-shadow: 2px 2px 3px #444;
}

.m {
    margin: 0;
}
.mt-10 {
    margin-top: 30px;
}
.mr-4 {
    margin-right: 4px;
}
.ml-4 {
    margin-left: 4px;
}
.py-6 {
    padding-top: 16px;
    padding-bottom: 16px;
}
.button-icon {
    padding: 2px;
    background-color: #FFF;
    border-radius: 8%;
    box-shadow: 1px 1px 1px 1px #444;
}

/* sidebar nav */
.side-nav {
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #E36B4C;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    display: flex;
}
.nav-list {
    list-style: none;
    padding-left: 0;
}
.nav-item {
}
.nav-link {
    display: block;
    color: #FFF;
}
.nav-link:hover {
    color: #444;
}


/* animations */
@keyframes bounce {
    0% {
        transform: translateY(-10%);
    }
    50% {
        transform: translateY(10%);
    }
    100% {
        transform: translateY(-10%);
    }
}

/* media queries */
@media (min-width: 765px) {
    
}